<div class="row">
    <div class="offer-container col-md-6"
         ng-repeat="offer in catalogCtrl.filteredOffers = (catalogCtrl.offers | filter: searchText) |
                  startFrom: (catalogCtrl.currentPage - 1) * catalogCtrl.itemsPerPage | limitTo: catalogCtrl.itemsPerPage">

        <div class="panel panel-primary " >
            <div class="panel-heading">
                <h2 class="panel-title">{{offer.name}}</h2>
            </div>
            <div class="panel-body">
                <div class="media pull-left">
                    <div class="media-left">
                        <img src="images/image-placeholder.png" class="media-object offers-image">
                    </div>
                </div>
                <p>{{offer.description}}</p>
                <p>
                    <a class="btn btn-success pull-right" href="#" role="button">{{offer.price}}</a>
                </p>
            </div>
        </div>

    </div>
</div>