<div class="row">
    <div class="offer-container col-md-6"
         ng-repeat="offer in catalogCtrl.filteredOffers = (catalogCtrl.offers |
                  filter: { name: portalCtrl.searchText, categoryId: catalogCtrl.currentCategory.id }) |
                  startFrom: (catalogCtrl.currentPage - 1) * catalogCtrl.itemsPerPage | limitTo: catalogCtrl.itemsPerPage">

        <div class="panel panel-primary">
            <div class="panel-heading">
                <h2 class="panel-title">{{offer.name}} - {{offer.categoryId}}</h2>
            </div>
            <div class="panel-body">
                <img src="images/image-placeholder.png" class="col-md-4 img-responsive offers-image">
                <div class="col-md-8 offer-right-col">
                    <div class="row offer-right-col-row">
                        <h4 class="text-right">{{offer.price}}</h4>
                    </div>
                    <div class="row offer-right-col-row">
                        <rating class="pull-right" ng-model="offer.rating" max="catalogCtrl.maxRating" readonly="true"></rating>
                    </div>
                    <div class="row offer-right-col-row">
                        <p class="text-justify">{{offer.description}}</p>
                    </div>
                    <div class="btn-group btn-group-justified">
                        <a class="btn btn-success" ng-hide="offer.inCart" ng-click="catalogCtrl.addToCart(offer)" role="button">Add to Cart</a>
                        <a class="btn btn-danger" ng-show="offer.inCart" ng-click="catalogCtrl.removeFromCart(offer)" role="button">Remove</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>