<div ng-hide="shoppingCart.isEmpty()">
    <table class="table table-striped table-hover">
        <thead>
            <th>Name</th>
            <th>Price</th>
        </thead>
        <tbody>
            <tr ng-repeat="offer in shoppingCart.offers | filter: {name: portalCtrl.searchText} | orderBy: 'name'"
                ng-click="cartCtrl.select(offer)" ng-class="{info: cartCtrl.isSelected(offer)}">
                <td>{{offer.name}}</td>
                <td>{{offer.price | currency}}</td>
            </tr>
        </tbody>
    </table>
    <form class="form-inline">
        <div class="form-group pull-right">
            <button class="btn btn-success">Continue with Order</button>
        </div>
        <div class="form-group">
            <button class="btn btn-danger" ng-click="cartCtrl.clear()">Clear</button>
        </div>
        <div class="form-group">
            <button class="btn btn-warning" ng-disabled="!cartCtrl.selectedOffer" ng-click="cartCtrl.removeSelected()">Remove Selected</button>
        </div>
    </form>
</div>
<div ng-show="shoppingCart.isEmpty()">
    <h3 class="text-center">Cart is empty for now</h3>
    <h5 class="text-center">You can visit our <a href="#/">catalog page</a> to select goods suitable for you</h5>
</div>