<div class="page-header">
    <h1>
        <span class="header-title" ng-click="portalCtrl.go('/')">Online Store</span>
        <form class="form-inline pull-right" role="form">
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
                    <input type="text" placeholder="Search" class="form-control" ng-model="portalCtrl.searchText">
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <a class="btn btn-primary btn-header" href="#/cart">
                        <span class="glyphicon glyphicon-shopping-cart"></span> Your Cart <span class="badge">{{shoppingCart.offers.length}}</span>
                    </a>
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <button ng-hide="user.isSignedIn()" class="btn btn-success btn-header" ng-click="portalCtrl.showSignInForm()">Sign In</button>
                    <div class="dropdown" ng-show="user.isSignedIn()">
                        <button class="btn btn-info dropdown-toggle btn-header" type="button" data-toggle="dropdown" aria-expanded="true">
                            {{user.info.name}}
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="userDropdown">
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#/profile">Profile</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1">Dashboard</a></li>
                            <li role="presentation" class="divider"></li>
                            <li role="presentation" ng-click="portalCtrl.signOut()"><a role="menuitem" tabindex="-1">Logout</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </form>
    </h1>
</div>