/**
 * A place for a custom catalog CSS
 */

.nav, .pagination, .carousel, .panel-title, .dropdown-menu a { cursor: pointer; } /* fix Angular UI pointer missing */

/**
 * ---------------------------------------------------------------
 * ---------------------    Sign In Form    ---------------------------
 * ---------------------------------------------------------------
 */

.form-signin
{
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.form-signin .form-control
{
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.account-wall
{
    margin-top: 20px;
    padding: 40px 0px 20px 0px;
    background-color: #f7f7f7;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

/**
 * ---------------------------------------------------------------
 */

.table-hover tbody tr {
    cursor: pointer;
}