/**
 * A place for custom portal CSS
 */

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.offers-image {
    padding-left: 0px;
    padding-right: 0px;
}

.offer-container {
    padding-left: 10px;
    padding-right: 10px;
}

.offer-right-col {
    padding-right: 0px;
}