/**
 * A place for custom portal CSS
 */

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; } /* fix Angular UI pointer missing */

.btn-header {
    margin-bottom: 4px; /* feels like a hack */
}

.form-inline > .form-group {
    vertical-align: top;
}

.offers-image {
    padding-left: 0px;
    padding-right: 0px;
}

.offer-container {
    padding-left: 10px;
    padding-right: 10px;
}

.offer-right-col {
    padding-right: 0px;
}

.offer-right-col-row {
    padding-left: 15px;
    padding-right: 15px;
}