/**
 * A place for a custom portal CSS
 */

.nav, .pagination, .carousel, .panel-title, .dropdown-menu a { cursor: pointer; } /* fix Angular UI pointer missing */

.header-title {
    cursor: pointer;
}

.categories {
    margin-bottom: 20px;
}

.btn-header {
    margin-bottom: 4px; /* feels like a hack */
}

.form-inline > .form-group {
    vertical-align: top;
}

.offers-image {
    padding-left: 0px;
    padding-right: 0px;
}

.table-hover tbody tr {
    cursor: pointer;
}

.offer-panel {
    border-color: #999999;
    border-width: 1px;
}

.offers-container {
    padding-left: 5px;
    padding-right: 5px;
}

.offer-container {
    padding-left: 10px;
    padding-right: 10px;
}

.offer-right-col {
    padding-right: 0px;
}

.offer-right-col-row {
    padding-left: 15px;
    padding-right: 15px;
}