<div class="modal-header">
    <h3 class="modal-title" ng-show="MODE === 'add'">New Offer</h3>
    <h3 class="modal-title" ng-show="MODE === 'edit'">Edit Offer</h3>
</div>
<div class="modal-body">
    <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.message}}</alert>
    <form name="offerForm" class="form" novalidate>
        <div class="form-group" ng-class="{'has-error': offerForm.name.$invalid && offerForm.name.$dirty, 'has-success': offerForm.name.$valid && offerForm.name.$dirty}">
            <label class="control-label" for="name">Name</label>
            <input id="name" name="name" type="text" placeholder="Name" class="form-control" ng-model="form.name" required>
        </div>
        <label class="control-label" for="category">Category</label>
        <div class="form-group">
            <select id="category" name="category" class="selectpicker full-width" ng-model="form.category.id">
                <option ng-repeat="category in categories" value="{{category.id}}">{{category.name}}</option>
            </select>
        </div>
        <div class="form-group" ng-class="{'has-error': offerForm.price.$invalid && offerForm.price.$dirty, 'has-success': offerForm.price.$valid && offerForm.price.$dirty}">
            <label class="control-label" for="price">Price</label>
            <div id="price" class="input-group">
                <span class="input-group-addon"><span class="glyphicon glyphicon-usd"></span></span>
                <input name="price" type="number" placeholder="0" class="form-control" min="0" ng-model="form.price" required>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="description">Description</label>
            <textarea id="description" name="desctiption" placeholder="Description" class="form-control" ng-model="form.description" />
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-success" ng-disabled="offerForm.$invalid || disableSubmitButton" ng-click="submit()" ng-show="MODE === 'add'">Add</button>
    <button class="btn btn-success" ng-disabled="offerForm.$invalid || disableSubmitButton" ng-click="submit()" ng-show="MODE === 'edit'">Update</button>
    <button class="btn btn-primary" ng-click="cancel()">Cancel</button>
</div>